@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Lobster&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'El Messiri', sans-serif;
    text-align: center;
}

main, #home {
    display: flex;
    align-items: center;
}

main {
    height: 100vh;
    justify-content: center;
}

#home {
    flex-direction: column;
    justify-content: space-between;
}

section {
    font-size: 5vh;
}

a {
    text-decoration-line: none;
}

  /***********/
 /*  target */
/***********/
.target {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.target div {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px black solid;
    flex-basis: 10%;
}

#plus {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 5%;
    border-radius: 50% / 0 0 100% 100%;
    border: black 1px dashed;
    font-size: 5rem;
    color: black;
}

  /**************/
 /**  color   **/
/**************/

.red, .blue, .black {
    color: white;
}

.yellow {
    background: yellow;
}

#ten {
    flex-direction: row;
    justify-content: space-around;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.black {
    background: black;
}

#black3 {
    border: white solid 1px;
}

#three {
    border-top : 2px white solid;
}

.white {
    background: white;
}

.chocolate {
    background: chocolate;
}

  /************/
 /**  page  **/
/************/

#home {
    box-shadow: inset white 0 0 2rem;
    color: white;
    border-radius: .8em;
    background: black;
    padding: 2rem;
    width: 80%;
    height: 80vh;
    font-size: 4em;
}

.blazon {
    width: 100px;
}

.blazon div {
    padding: 10px;
    border-radius: 50%;
}

  /*************/
 /**  input  **/
/*************/

input, select {
    text-align: center;
}

input {
    padding: .5rem;
    font-size: 2.5rem;
    margin: 2rem 0;
    width: 80%;
}

select {
    width: 30%;
    font-size: 4rem;
}

  /*************/
 /** footer  **/
/*************/

footer {
    text-align: center;
}

a i {
    font-size: 5rem;
    color: red;
    text-shadow: black 2px 2px;
}

  /***********/
 /** MODAL **/
/***********/

/*.modal {*/
/*    height: 80%;*/
/*    width: 80%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*    background: black;*/
/*    border-radius: 15px;*/
/*    margin: 1rem auto;*/
/*    padding: 1rem 1rem;*/
/*    box-shadow: inset white 0 0 1rem;*/
/*}*/

/*#result {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*}*/

/*.fa-long-arrow-alt-right {*/
/*    color: green;*/
/*    font-size: 5rem;*/
/*}*/

  /**************/
 /**  point   **/
/**************/

/*#result span {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/

/*#final {*/
/*    display: none;*/
/*}*/

/*#number span, #result span {*/
/*    border-radius: 1.5rem;*/
/*    background: #00008b80;*/
/*    box-shadow: inset #2196f3 0 0 1rem;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    font-size: 4rem;*/
/*}*/

/*#result span {*/
/*    justify-content: space-evenly;*/
/*    width: 10rem;*/
/*    height: 10rem;*/
/*}*/

/*#number span {*/
/*    width: 60%;*/
/*    flex-basis: 25%;*/
/*    justify-content: center;*/
/*}*/

/*@media screen and (max-width: 600px) {*/

/*    .background {*/
/*        width: 100%;*/
/*    }*/

/*    .background div {*/
/*        height: 12rem;*/
/*    }*/

/*    #halfYellow {*/
/*        height: 6rem;*/
/*    }*/

/*}*/
