@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Lobster&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'El Messiri', sans-serif;
    text-align: center;
}

a {
    text-decoration-line: none;
}

  /******************/
 /**  background  **/
/******************/

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.background div {
    height: 17%;
    border-bottom: black 1px solid;
}

#halfYellow {
    height: 50%;
}

  /**************/
 /**  color   **/
/**************/

.yellow {
    background: yellow;
}

.yellow span {
    margin: 0 auto;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.black {
    background: black;
}

#three {
    border-top : 1px white solid;
}

.white {
    background: white;
    color: black;
}

.chocolate {
    background: chocolate;
}

section {
    font-size: 200%;
    color: white;
}

#container {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

  /*******************/
 /** index + modal **/
/*******************/

.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: black;
    border-radius: 15px;
    margin: 1rem auto;
    padding: 1rem 1rem;
    box-shadow: inset white 0 0 1rem;
    height: 80%;
    width: 80%;
}

.modal footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.fa-long-arrow-alt-right {
    color: green;
    font-size: 5rem;
}

  /************/
 /**  page  **/
/************/

header {
    margin: 0 2rem;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-shadow: black 0 0 1rem;
    font-family: 'El Messiri', sans-serif;
}

.result {
    display: flex;
    flex-direction: column;
}

#final {
    /*display: none;*/
}

#number a, .result {
    color: white;
    border-radius: 1.5rem;
    background: #00008b80;
    flex-basis: 30%;
    width: 60%;
    box-shadow: inset #2196f3 0 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  target */
.target {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.target div {
    border-top: 1px black solid;
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plus {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    border-radius: 50% / 0 0 100% 100%;
    border: black 1px dashed;
    font-size: 1rem;
    color: red;
}

button, footer {
    font-size: 3rem;
    border: none;
}

  /*************/
 /** footer  **/
/*************/

a i {
    font-size: 5rem;
    color: red;
    text-shadow: black 2px 2px;
}

  /*************/
 /**  modal  **/
/*************/

.fullScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

